<div id=editor>alaskaslask</div>
<script type="text/javascript" src="/js/ace-src-min-noconflict/ace.js"></script>
<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/javascript");
</script>
