<button class="btn" id="save">Save</button>
<form id="upload_form" action="" method="post">
  <textarea id="upload_file_content" name="file_content" style="display: none;"></textarea>
</form>
<div id=editor><%= h @file_content %></div>
<iframe id=preview src="about:empty"></iframe>
<script type="text/javascript" src="/js/ace-src-min-noconflict/ace.js"></script>
<script type="text/javascript" src="/js/jquery.ba-throttle-debounce.min.js"></script>
<script>
  // init editor
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  var session = editor.getSession();
  session.setMode("ace/mode/html");
  session.setTabSize(2);
  session.setUseWrapMode(true);

  // preview updating
  function insertBaseTag(html, href) {
    // make sure relative paths work and that links are opened in another page
    // hacky-by-works :-)
    return '<base href="' + href + '" target="_blank" />' + html;
  }
  function updatePreview() {
    var html = editor.getValue();
    html = insertBaseTag(html, '/u/<%= current_user.username %>/');
    var previewDoc = document.getElementById('preview').contentWindow.document;
    previewDoc.open('text/html', 'replace');
    previewDoc.write(html);
    previewDoc.close();
  }
  // update preview once now
  updatePreview();
  // and when no change has been detected for a while
  editor.on("change", $.debounce(500, updatePreview));

  // save
  $('#save').click(function() {
    $('#upload_file_content').val(editor.getValue());
    $('#upload_form').submit();
  });
</script>
