<form method="post" action="/edit/<%= h @user.username%>" class="form-horizontal">
  <div class="control-group">
    <label>Nytt lösenord</label>
    <div class="controls">
      <input type="text" value=""/>
    </div>
  </div>
  <div class="controls">
    <input type="submit" class="btn btn-large" value="Uppdatera"/>
  </div>
</form>
