<h1> Välkommen!  </h1>
<div>
  <p>Här kan du lägga upp din egen hemsida!</p>
  <p>Den här siten är gjord för CoderDojo Malmö</p>
  <p> TBD mer text</p>
  <% if defined? @files %>
    <p>Dina filer:</p>
    <ul>
      <% @files.each do |file| %>
        <% type = file_type(file) %>
        <li>
        <% if is_editable? type %>
          <a href=/editor/<%= file %>><%= file %></a>
        <% else %>
          <%= file %>
        <% end %>
        <% if is_viewable? type %>
          <a href=<%= current_user.file_uri file %>><i class=icon-eye-open></i></a>
        <% end %>
      <% end %>
    </ul>
    <a class=btn href="/upload">Ladda upp fil</a>
    <form id="createfile_form" class="form-inline">
      <input id="createfile_name" type="text" placeholder="Filnamn">
      <button type="submit" class="btn">Skapa fil</a>
    </form>
    <script>
      $('#createfile_form').submit(function create_file() {
        window.location = '/editor/' + $('#createfile_name').val()
        return false;
      });
    </script>
  <% end %>
</div>
