<div class="span6 offset3">
  <div>
    <div class=hero-unit>
      <h1> Välkommen!</h1>
      <p>&nbsp;</p>
      <p>Du bygger häftiga saker! Lägg upp dem här så att andra får se dem! <a href=/signin>Logga in</a> eller <a href=/signup>registrera ett nytt konto</a> så är du på väg!</p>
    </div>
    <p class="muted">
      Den här webbsidan är gjord för
      <a href="http://malmo.coderdojo.se">CoderDojo Malmö.</a>
      Vill din coderdojo också använda detta går det bra att kontakta
      <a target="_blank" href="https://twitter.com/coderdojomalmo">@coderdojomalmo</a>
    </p>
  </div>
</div>
