i am signup
<form method="post" action="/signup">
  <%= @user.errors.collect{|e| "#{e}"}.join("<br/>") %>

  <input type="text" name="user[username]" value="<%= @user.username %>" placeholder="Användarnamn"/>
  <input type="password" name="user[password]" value="" placeholder="Lösenord"/>
  <input type="submit" class="btn"/>
</form>
