<div class="span6 offset4">
  <h1>Registrera dig</h1>
  <form method="post" action="/signup" class="form-horizontal">
    <% unless @user.errors.empty? %>
      <div class="alert alert-error">
        <% @user.errors.each do |e|%>
          <p><%= h("#{e}".gsub('["',"").gsub('"]',""))%></p>
        <% end %>
      </div>
    <% end %>

    <div class="control-group">
      <input type="text" name="user[username]" value="<%= h @user.username %>" placeholder="Användarnamn"/>
    </div>
    <div class="control-group">
        <input type="password" name="user[password]" value="" placeholder="Lösenord"/>
    </div>
    <div class="control-group">
      <input type="submit" class="btn btn-large btn-primary" value="Registrera!"/>
    </div>
  </form>
</div>
