<% if @errors %>
  <p class="alert alert-error">
    <% @errors.each do |e| %>
      <%= h e %><br/>
    <% end %>
  </p>
<% end %>
<form method="post" action="/upload" enctype="multipart/form-data" >
  <div class="control-group">
    <label>Fil</label>
    <div class="controls">
      <input type="file" name="file"/>
    </div>
  </div>

  <div class="controls">
    <input type="submit" class="btn btn-large btn-primary" value="Ladda upp"/>
  </div>
</form>
