@import 'bootstrap.css';
@import 'bootstrap-responsive.css';

#editor {
  position: absolute;
  width: 50%;
  left: 0px;
  height: 100%;
}

#preview {
  position: absolute;
  width: 50%;
  right: 0px;
  height: 100%;
}
