@import 'bootstrap.css';
@import 'bootstrap-responsive.css';

#editor {
  position: absolute;
  width: 100%;
  left: 0px;
  height: 100%;
}

#editor.with-preview {
  width: 50%;
}

#preview {
  position: absolute;
  width: 50%;
  right: 0px;
  height: 100%;
}

.navbar .nav li a.btn {
  color: black;
  background-color: #ccc;;
}
.navbar .nav li a.btn:hover {
  background-color: #ccc;
}
